body {
  margin: 0;
}

.top-pane {
  background-color: black;
}

.pane {
  height: 50vh;
  display: flex;
}

.editor-container {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: black;
}

.editor-container.collapse {
  flex-grow: 0;
}

.editor-container.collapse .CodeMirror-scroll {
  /* Allow collapse over the text */
  position: absolute;
  /* Get rid of scrollbar */
  overflow: hidden !important;
}

.expand-collapse-btn {
  margin-left: 0.5rem;
  /* override default button style */
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.editor-title {
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: skyblue;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

/* default code-mirror class is set to height:300px */
.CodeMirror {
  height: 100% !important;
}

.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow: hidden;
}

.code-output {
  border: none;
}
